## Name: SUSHIL BHARDWAJ
## ROLL NO: BCOB128
## BATCH: B

---

```Importing required modules```

In [12]:
import pandas as pd

``` Reading data from csv file```

In [155]:
df = pd.read_csv('/home/sbrocks/Desktop/dsbd/bank-marketing.csv', index_col=[0])
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,41,services,married,unknown,no,88,yes,no,cellular,11,may,105,1,336,2,failure,no
1,56,technician,married,secondary,no,1938,no,yes,cellular,26,feb,229,1,192,4,success,yes
2,30,services,single,secondary,no,245,no,yes,cellular,8,jul,187,2,-1,0,unknown,no
3,34,management,single,tertiary,no,1396,yes,no,cellular,17,jul,630,1,-1,0,unknown,no
4,29,technician,single,secondary,no,-13,yes,no,cellular,14,may,512,3,-1,0,unknown,no

### 1. Write the python code to find the average age of the clients those who have subscribed to deposit

In [105]:
print(f"Answer: {(df[df['deposit'] == 'yes'][['age']].mean())['age']}")

Answer: 41.42677345537757

### 2. Write the python code to find the maximum number of contacts performed during the campaign for the clients who have not subscribed to deposit?

In [99]:
print(f"Answer: {(df[df['deposit'] == 'no'][['campaign']].max())['campaign']}")

Answer: 63

### 3. Write the python code to find the difference between the maximum balance (in euros) for the clients who have subscribed to deposit and for the clients who have not subscribed to the deposit?

In [120]:
yes_max_balance = df[df['deposit'] == 'yes'][['balance']].max()['balance']
no_max_balance = df[df['deposit'] == 'no'][['balance']].max()['balance']
print(f"Answer: {yes_max_balance - no_max_balance}")

Answer: 24373

### 4. Write the python code to find the count of unique job levels in the data and find out how many clients are in the management level?

In [224]:
unique_jobs = df['job'].unique()
management_jobs = df[df['job'] == 'management']['job'].count()
print(f"Answer: unique_job_levels: {len(unique_jobs)}, clients_in_management_level_job: {management_jobs}")

Answer: unique_job_levels: 12, clients_in_management_level_job: 1318